.container{
    width: 90%;
    margin: 0 auto;
}

header{
    text-align: center;
    background: url(/images/WebDevLogoFinal.png) no-repeat top center;
    min-height: 250px;
    background-size: cover;
    text-indent: -999999px;
}
section{
    background: #eee;
    color: #2a3333;
    overflow: hidden;
    padding: $spacing-unit 0px;
}
.section-heading{
    color: #333;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    font-size: 3rem;
}
.heading_icon{
    width: 100px;
}
.link_blocks{
    padding: 15px 0;
}
.link{
    float: left;
    width: 30%;
    min-height: 200px;
    margin-right: 5%;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 0px #ccc;
}

.link:nth-child(3n+0){
    margin-right: 0;
}

.link h3{
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 35px;
    vertical-align: middle;
}

.link h3 sup{
    background: #D93870;
    padding: 3px;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    margin-left: 3px;
}

.link a{
    border-bottom: 1px solid #2a3333;
    border-top: 1px solid #2a3333;
    margin-bottom: $spacing-unit / 2;
    font-style: italic;
    text-decoration: none;
    font-size: 80%;
    color: #D93870;
    display: block;
    padding: 5px 0;
}
/* before after animation bag from left */
.link a:hover{
    background: #D93870;
    color: #fff;
    border-color: transparent;
}
.dacorative_border{
    text-align: center;
    padding: 30px 0;
}
svg.icon{
    fill: #D5005B;
}